* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(49, 47, 47);
}

a {
  text-decoration: none;
  cursor: pointer;
  font-family: 'Noto Sans', sans-serif;
}

ul li {
  list-style: none;
}
